/* 
Selector CSS : id,class */

.menu{
  display: inline-block;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

/* kondisi biasa */
.menu:link{
  background: grey;
  color: white;
}
/* Kondisi setelah dikunjungi: */
.menu:visited{
  background: yellow;
}
/* Kondisi hover- mouser berada diatasnya link*/
.menu:hover{
  background: green;

}
/* sedang di klik */
.menu:active{
  background: white;

}

/* a{
  display: block;
} */

h1 {
  color: blue;
  text-align: center;
  text-decoration: underline;
  display: inline;
}
h2 {
  color: green;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

body{
    background-color: #dfdfdf;
    font-family: 'Times New Roman', Times, serif;
}

#text_panjang{
  text-align: justify;
  text-indent: 30px;
  /* letter-spacing: 3px; */
  /* word-spacing: 5px; */
  /* line-height: 12px; */
}

#text_pendek{
  background: yellow;
  font-size: 24px;
  font-weight: bold;
  width: 50%;
  height: 200px;
  max-width: 30%;
  max-height: 100px;
}